.teamMate{
    margin-bottom: 0.75rem;
}
.description{
    display: inline-block;
}
.teamMate h1{
    display: inline-block;
 font-size: 1rem;
 margin-bottom: 0rem;
 color:black;
}
.teamMate span{
    font-size: 0.9rem;
}

.teamMate img{
    display: inline-block;
    margin-right:1.5rem;
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
}
.teamMate button{
    border-radius: 50%;
    margin-left: 6rem;
    background-color: rgb(188, 188, 249);
    border: none;
    font-size: 1.1rem;
}